site_name: codeTango
site_url: https://codetango.vercel.app/
site_description: A software dev blog
site_author: Sam Grahm
docs_dir: docs # indispensable or readthedocs will fail

nav:
  - About: about.md
  - Posts:
      - blog/index.md

theme:
  name: material
  font:
    text: Open Sans
  features:
    - navigation.footer
    - navigation.indexes
    # - navigation.instant
    # - navigation.instant.prefetch
    - navigation.prune
    - navigation.tabs
    - navigation.tabs.sticky
    - navigation.top
    - navigation.tracking
    - search.highlight
    - search.share
    - search.suggest

  palette:
    # Palette toggle for automatic mode
    - media: "(prefers-color-scheme)"
      toggle:
        icon: material/brightness-auto
        name: Switch to light mode

    # Palette toggle for light mode
    - media: "(prefers-color-scheme: light)"
      scheme: default
      primary: "teal"
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode

    # Palette toggle for dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      primary: "teal"
      toggle:
        icon: material/brightness-4
        name: Switch to light mode

plugins:
  - blog
  - search
  - mermaid2
  - rss:
      enabled: !ENV [CI, False]
      match_path: blog/posts/.*
      date_from_meta:
        as_creation: date
      categories:
        - categories
        - tags

markdown_extensions:
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:mermaid2.fence_mermaid_custom

extra:
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/SamGrah
    - icon: fontawesome/brands/linkedin
      link: https://www.linkedin.com/in/samgr/
    - icon: fontawesome/brands/pied-piper-alt
      link: https://www.google.com/search?q=silicon+valley+hbo&oq=silicon+valley+hbo
  generator: false

extra_css:
  - stylesheets/extra.css

extra_javascript:
  - javascripts/extra.js
